.recipe {
	max-width: 1200px;
	margin: 60px auto;
	text-align: center;
	background: var(--white);
	padding: 40px;
	box-sizing: border-box;
}
.recipe ul {
	display: flex;
	padding: 0;
	justify-content: center;
	margin-top: 0;
}
.recipe li {
	list-style-type: none;
	margin-right: 10px;
	color: var(--medium);
}
.recipe li::after {
	content: ',';
}
.recipe li:last-child::after {
	content: '';
}
.method {
	text-align: left;
	line-height: 1.5em;
}

.recipe.dark {
	background: var(--dark);
	color: var(--white);
}

.recipe.dark h1 {
	color: var(--white);
}

.recipe.dark p {
	color: var(--medium);
}

.recipe.dark li {
	color: var(--light);
}

.recipe.dark .method {
	color: var(--white);
}
