.recipe-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 40px;
	max-width: 1200px;
	margin: 40px auto;
}

.recipe-list .card {
	background: var(--white);
	color: var(--dark);
	padding: 20px;
	border-radius: 4px;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
	transition: all 0.3s ease;
	position: relative;
}

.recipe-list .card:hover {
	transform: rotate(2deg);
}

.recipe-list .card h3 {
	color: var(--dark);
	margin-bottom: 6px;
}

.recipe-list .card p {
	color: var(--light);
	font-size: 0.9em;
}

.recipe-list .card div {
	color: var(--medium);
	font-size: 0.7em;
	margin: 20px 0;
	line-height: 1.5em;
}

.recipe-list .card a {
	color: var(--medium);
	text-decoration: none;
	display: block;
	background: var(--extra-light);
	font-size: 0.9em;
	width: 100px;
	text-align: center;
	width: 120px;
	padding: 8px;
	border-radius: 4px;
	margin: 20px auto 0;
}

.recipe-list .card a:hover {
	color: var(--white);
	background: var(--main);
}
